header.shadow.p-4.bg-gradient-to-r.from-green-200.via-purple-200.to-yellow-200
  nav.flex.justify-between.items-center
    a.link(href="/")
      h1.text-2xl.text-center.font-bold.tracking-widest Hold My Pics

    ul.flex.justify-center.space-x-4
      li
        a.link(href="/") Inicio
      li
        a.link(href="/upload") Subir imagen
