extends layout.pug

block content
  section.section
    each image in images
      - var imgSrc = image.filename
      .card
        img.card-image(src="/storage/" + imgSrc, alt=image.title)
        .card-content
          a.card-title(href="/images/" + image._id)= image.title
          p= image.description
          p.card-date= image.uploadedAt
