extends layout.pug

block content
  section.section
    each image in images
      a(href="/images/" + image._id)
        .card
          img.card-image(src="/storage/" + image.filename, alt=image.title)
          .card-content
            p.card-title= image.title
            p.card-description= image.description
            footer.card-footer
              p.card-date= image.publishedAt
