doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/app.css")
    title Hold My Pics
  body
    include partials/_header.pug

    main.container.mx-auto
      block content
