extends ../layout.pug

block content
  .max-w-2xl.my-8.mx-auto
    if errors
      .alert.danger
        each error in errors
          p= error

    form.space-y-6(action="/upload", method="POST", enctype="multipart/form-data")
      .flex.flex-col
        label.label(for="title") Título
        input#title.text(type="text", name="title", minlenght="3", maxlength="75")
      .flex.flex-col
        label.label(for="description") Descripción
        textarea#description.textarea(name="description", minlenght="3", maxlength="255")
      .flex
        input#uploaded_file.image(type="file", name="uploaded_file")
      .flex
        button.button(type="submit") Enviar
